@use '../../partials/mixins' as *;

.dropdown{
    margin: 2rem 0.5rem;
    padding: 0.5rem;
    width: 12rem;
    height: 2.5rem;
    cursor: pointer;
    @include mid-tablet {
        margin: 2rem 1rem;
    }
    @include tablet {
        margin: 2rem;
    }
}